.container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;

}

div {
    margin-top: 20px;

}

img {
    max-width: 400px;
}

input {
    font-size: 1.5em;
    height: 40px;
}

.bouton {

    margin: 40px f0px;
    background-color: lightgray;
    padding: 10px;


}

button {
    font-size: 1.5em;
}

.is-hidden {
    visibility: hidden;
}